In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/students-performance-dataset/Student_performance_data _.csv

In [4]:
#importing the file
train = pd.read_csv('/kaggle/input/students-performance-dataset/Student_performance_data _.csv')

In [5]:
#viewing the dataset
train.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [6]:
#viewing the dataset
train.head(12)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0
10,1011,17,0,0,1,11.851364,11,0,1,0,0,0,0,2.147172,3.0
11,1012,17,0,0,1,7.598486,15,0,2,0,0,0,1,1.559595,4.0

In [7]:
#viewing the last 5 rows
train.tail()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [9]:
#cheking the centre rows
train.iloc[1200:1301]

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
1200,2201,15,0,1,1,3.415206,15,0,2,1,0,0,0,1.677101,4.0
1201,2202,16,0,1,0,4.536742,4,0,2,0,0,0,0,2.752164,2.0
1202,2203,18,0,0,2,11.510020,19,1,1,0,0,0,0,1.201445,4.0
1203,2204,16,0,1,3,8.468776,8,1,2,1,1,1,1,2.901186,2.0
1204,2205,15,1,0,2,10.298550,7,0,2,1,0,0,0,2.676827,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,2297,17,1,0,2,8.871994,9,0,2,0,1,0,1,2.471387,3.0
1297,2298,15,1,0,4,3.422050,1,0,2,0,1,0,0,3.205425,1.0
1298,2299,15,1,2,1,17.465087,27,0,2,1,0,0,0,0.454114,4.0
1299,2300,16,1,1,1,14.098223,8,1,2,1,0,0,0,2.809833,2.0
1300,2301,17,0,2,1,1.704010,1,1,2,0,0,0,0,2.997506,2.0

In [17]:
#getting the shape of dataset
print(train.shape)
print('the dataset has', train.shape[0], 'no of rows')
print('the dataset has', train.shape[1], 'no of columns')

(2392, 15)
the dataset has 2392 no of rows
the dataset has 15 no of columns

In [16]:
#checking the missing values in dataset
train.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [21]:
#checking the duplicate values
train.duplicated().sum()

0